<div class="col-span-12 flex flex-wrap items-center justify-center gap-4 pt-4 sm:justify-between lg:pt-6">
  <p>Showing 1 to 10 of 18 entries</p>

  <ul class="flex flex-wrap items-center gap-2 md:gap-3 md:font-semibold">
    <li>
      <button class="flex h-8 w-8 items-center justify-center rounded-full border border-primary-300 text-primary-300 duration-300 hover:bg-primary-300 hover:text-neutral-0 md:h-10 md:w-10 rtl:rotate-180">
        <i class="las la-angle-left text-lg"></i>
      </button>
    </li>
    <li>
      <button class="flex h-8 w-8 items-center justify-center rounded-full border border-primary-300 bg-primary-300 text-neutral-0 duration-300 hover:bg-primary-300 hover:text-neutral-0 md:h-10 md:w-10">1</button>
    </li>
    <li>
      <button class="flex h-8 w-8 items-center justify-center rounded-full border border-primary-300 text-primary-300 duration-300 hover:bg-primary-300 hover:text-neutral-0 md:h-10 md:w-10">2</button>
    </li>
    <li>
      <button class="flex h-8 w-8 items-center justify-center rounded-full border border-primary-300 text-primary-300 duration-300 hover:bg-primary-300 hover:text-neutral-0 md:h-10 md:w-10">3</button>
    </li>
    <li>
      <button class="flex h-8 w-8 items-center justify-center rounded-full border border-primary-300 text-primary-300 duration-300 hover:bg-primary-300 hover:text-neutral-0 md:h-10 md:w-10 rtl:rotate-180">
        <i class="las la-angle-right text-lg"></i>
      </button>
    </li>
  </ul>
</div>
